body {
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 50px 0 0 50px;
}

header > img {
  width: 200px;
}

#start {
  padding: 10px 40px 10px 40px;
  margin: 2px 5px 2px 5px;
  border-radius: 150px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
  border: 20px solid black;
  border-radius: 100% 100% 100% 100%;
}

.container > div {
  position: absolute;
  width: 50%;
  height: 50%;
}

.button#green {
  top: 0;
  left: 0;
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 92% 0 0 0;
  border-bottom: 20px solid black;
  border-right: 20px solid black;
}

.button#red {
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 0 92% 0 0;
  border-bottom: 20px solid black;
  border-left: 20px solid black;
}

.button#yellow {
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 0 0 0 92%;
  border-right: 20px solid black;
  border-top: 20px solid black;
}

.button#blue {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 0 0 92% 0;
  border-top: 20px solid black;
  /* border-bottom: 20px solid black; */
  border-left: 20px solid black;
}

.cutout {
  width: 10%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  text-align: center;
  color: white;
}

.white-logo > img {
  margin: 0 10px 30px 10px;
  width: 200px;
  margin: 50px 0 50px 0;
}

.score {
  text-align: center;
  font-size: 1em;
  border: 1px solid white;
  padding: 10%;
  border-radius: 50px;
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 10px;
  font-size: 10px;
  user-select: none;
}

@media only screen and (max-width: 670px) {
  .container {
    width: 300px;
    height: 300px;
  }

  .white-logo > img {
    margin: 20px 10px 25px 10px;
    width: 100px;
  }

  .score {
    font-size: 0.8em;
    padding: 5%;
    border-radius: 25px;
  }
}

@media only screen and (max-height: 670px) {
  .container {
    width: 300px;
    height: 300px;
  }

  .white-logo > img {
    margin: 20px 10px 25px 10px;
    width: 100px;
  }

  .score {
    font-size: 0.8em;
    padding: 5%;
    border-radius: 25px;
  }
}

@media only screen and (max-width: 460px) {
  header > img {
    width: 50%;
  }
}
